Repository flowmotion-bbd/game-jam-2024-bbd, pull requests merged in 2024-08, with the labels that each got.

#1 Create README.md
  README.md
Labels: documentation

#5 GitHub Templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/to-do-task.md
  .github/pull_request_template.md
Labels: documentation

#20 Feature/UI enhancements
  Assets/Art/Nodes/single/bg_select.png
  Assets/Art/Nodes/single/bg_select.png.meta
  Assets/Art/Nodes/single/bg_select.png~
  Assets/Art/Source/bg_select.kra
  Assets/Art/Source/bg_select.kra.meta
  Assets/Art/Source/bg_select.kra~
  Assets/Fonts.meta
  Assets/Fonts/DS-DIGI SDF.asset
  Assets/Fonts/DS-DIGI SDF.asset.meta
  Assets/Fonts/DS-DIGI.TTF
  Assets/Fonts/DS-DIGI.TTF.meta
  Assets/Fonts/DS-DIGIB.TTF
  Assets/Fonts/DS-DIGIB.TTF.meta
  Assets/Fonts/DS-DIGII.TTF
  Assets/Fonts/DS-DIGII.TTF.meta
  Assets/Fonts/DS-DIGIT.TTF
  Assets/Fonts/DS-DIGIT.TTF.meta
  Assets/Materials.meta
  Assets/Materials/EdgeMaterial.mat
  Assets/Materials/EdgeMaterial.mat.meta
  Assets/Prefabs/Graph/BasicNode.prefab
  Assets/Prefabs/Graph/DataNode.prefab
  Assets/Prefabs/Graph/DecryptionNode.prefab
  Assets/Prefabs/Graph/EncryptedDataNode.prefab
  Assets/Prefabs/Graph/FirewallNode.prefab
  Assets/Prefabs/Graph/InternetNode.prefab
  Assets/Prefabs/Graph/NetworkRouterNode.prefab
  Assets/Prefabs/Graph/PasswordProtectedNode.prefab
  Assets/Prefabs/UI Elements/DialogueCanvas.prefab
  Assets/Prefabs/UI Elements/LevelUICanvas.prefab
  Assets/Prefabs/UI Elements/SelectedIndicator.prefab
  Assets/Prefabs/UI Elements/SelectedIndicator.prefab.meta
  Assets/Scenes/Levels/Level 1.unity
  Assets/Scenes/Levels/Level 2.unity
  Assets/Scenes/Main Menu.unity
  Assets/Scripts/Systems/Graph/GraphRenderer.cs
  Assets/Scripts/Systems/Graph/NodeController.cs
  Assets/Scripts/Systems/Graph/NodeRenderer.cs
  Assets/Shaders/EdgeShader.shadergraph
  Assets/Shaders/EdgeShader.shadergraph.meta
  Assets/TextMesh Pro/Resources/TMP Settings.asset
Labels: enhancement, art, ui

#29 Feature/sneak fix
  Assets/3rd Party/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  Assets/Fonts/ARCADE SDF.asset
  Assets/Fonts/DS-DIGI SDF.asset
  Assets/NavMesh/Fire Pacman (Full).asset
  Assets/Prefabs/Minigames/Fire Pacman/FirePacmanCanvas.prefab
  Assets/Prefabs/Minigames/Fire Pacman/FirePacmanCanvas.prefab.meta
  Assets/Prefabs/Minigames/Sneak/Packet.prefab
  Assets/Prefabs/Minigames/Sneak/Packet.prefab.meta
  Assets/Prefabs/Minigames/Sneak/SneakCanvas.prefab
  Assets/Prefabs/Minigames/Sneak/SneakCanvas.prefab.meta
  Assets/Prefabs/Minigames/Sneak/SneakMinigameManager.prefab
  Assets/Prefabs/Minigames/Sneak/SneakMinigameManager.prefab.meta
  Assets/Prefabs/Minigames/Sneak/Sneaker.prefab
  Assets/Prefabs/UI Elements/MinigameCanvas.prefab
  Assets/Scripts/Systems/Minigames/Fire Pacman/FirewallMinigameManager.cs
  Assets/Scripts/Systems/Minigames/Fire Pacman/Flame.cs
  Assets/Scripts/Systems/Minigames/MinigameManager.cs
  Assets/Scripts/Systems/Minigames/Sneak/SneakMinigameManager.cs
  Assets/Scripts/Systems/Minigames/Sneak/Sneaker.cs
  Assets/_Scenes/Main Menu.unity
  Assets/_Scenes/Minigames/Fire Pacman (Full).unity
  Assets/_Scenes/Minigames/Fire Pacman.unity
  Assets/_Scenes/Minigames/Router-Minigame.unity
  Assets/_Scenes/Minigames/Sneak.unity
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/TagManager.asset
Labels: enhancement, ui, game engine
